body {
  background-color: #2f80ed;
  font-weight: bold;
  color: #f2f2f2;
  text-align: center;
  font-size: 2em;
}

.treetop {
  font-family: "Pacifico", cursive;
  line-height: 110%;
  font-size: 1.3em;
}

.treetrunk {
  font-family: sans-serif;
  line-height: 30%;
  font-size: 1.3em;
}

.datetime > p,
.comment > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.line {
  border-top: #f2f2f2 dashed 5px;
  width: 30%;
  display: inline-block;
}
